<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/style.css">
    <title>References</title>
</head>

<body>
<header>
    <h2><img src="./Logo2.png" width="20" alt="My logo">   Home Work.</h2>
</header>

<hr>
    <h1>  First lesson.<br>References.</h1>
<hr>

<main>
    <h2> My Favorite Tutorial Links.</h2>
    <div>
        <ul>
            <li><a href="https://validator.w3.org/#validate_by_input"
                class="unvisited_unvisible" target="_blank">validator.w3.org - checking HTML</a></li>
            <li><a href="https://code.tutsplus.com/ru/tutorials/the-30-css-selectors-you-must-memorize--net-16048"
                class="unvisited_unvisible" target="_blank">code.tutsplus.com - CSS selectors</a></li>
            <li><a href="https://metanit.com/python/"
                class="unvisited_unvisible" target="_blank">metanit.com - Python</a></li>
            <li><a href="https://htmlreference.io/"
                class="unvisited_unvisible" target="_blank">htmlreference.io - HTML</a></li>
            <li><a href="https://html5book.ru/"
                class="unvisited_unvisible" target="_blank">html5book - CSS background</a></li>
            <li><a href="https://coderlessons.com/"
                class="unvisited_unvisible" target="_blank">coderlessons.com - PostgreSQL</a></li>
            <li><a href="https://www.tutorialspoint.com/sqlite/sqlite_python.htm"
                class="unvisited_unvisible" target="_blank">tutorialspoint.com - SQLite</a></li>
            <li><a href="https://iconarchive.com/"
                class="unvisited_unvisible" target="_blank">iconarchive.com - Icons</a></li>
            <li><a href="https://refactoring.guru/"
                class="unvisited_unvisible" target="_blank">refactoring.guru - Python</a></li>
            <li><a href="https://processing.org/"
                class="unvisited_unvisible" target="_blank">processing.org - Processing</a></li>
            <li><a href="https://doc.arduino.ua/ru/prog/"
                class="unvisited_unvisible" target="_blank">arduino.ua - Arduino</a></li>
            <li><a href="https://ravesli.com/"
                class="unvisited_unvisible" target="_blank">ravesli.com - C++</a></li>
            <li><a href="https://fonts.google.com/"
                class="unvisited_unvisible" target="_blank">fonts.google.com - Fonts</a></li>
            <li><a href="https://tproger.ru/translations/how-css-flexbox-works/"
                class="unvisited_unvisible" target="_blank">CSS - Flex-box</a></li>    
        </ul>
    </div>
</main>

    <hr>
    <div class="btn-group">
        <form action="./Best_tags.html"><button>Best tags</button></form>
        <form action="./Text_and_image.html"><button>Text and image</button></form>
        <form action="./Numberd_list.html"><button>Numberd list</button></form>
        <form action="./References.html"><button>References</button></form>
        <form action="./Menu_css.html"><button>Menu CSS</button></form>
        <form action="./Nice_page.html"><button>Nice pages</button></form>
        <form action="./Selectors.html"><button>Selectors</button></form>
    </div>
    
<footer>
    <hr>
    <h5>Best wishes...
        <br>© ArtBibl
    </h5>
    <hr>
</footer>

</body>
</html>